/* background of the menu bar */

#wrapper-box {
    margin: 3em auto;
    padding: 1em;
  }

#MenuBar{
  position: fixed;
  top: 4%;
  left: 3%;
  z-index: 100;
}

#MenuBarBG{
  position: fixed;
  z-index: 98;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  background-color: rgb(40, 40, 40);
}

#SetMenu{
  display: none;
}


.MenuBox{
  z-index: -2;
  position: fixed;
  width: 20%;
  background-color: rgb(40, 40, 40);
  top: 0%;
  left: -5%;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
  display: block;
  column-count: 1;
  animation-name: Fromleft;
  animation-duration: 1s;
}

.MenuOption{
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  height: 10%;
  background-color: rgb(40, 40, 40);
  border: none;
  color: white;
  padding-top: 2em;
  padding-bottom: 3em;
}

.MenuOption:hover{
  background-color: rgb(62, 62, 62);
}

#Description{
  margin-left: auto;
  font-style: normal;
}

.block {
   display: block;
   width: 100%;
   background-color: #7a8b953c;
   cursor: pointer;
   text-align: center;
   margin: 5px;
   height: 10em;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: xx-large;
   font-weight: bold;
}

.block:hover {
    background-color: #ddd;
    color: black;
  }

.block a{
  background-image: url(/Images/indexbg1.jfif);
}


#TopText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.PopUpFG{
  position: absolute;
  width: 100%;
  top: 150%;
}

.PopUpText{
  width: 20em;
  height: auto;
  border-color: black;
  background-color: white;
  color: black;
  border-radius: 25px;
  height: 3em;
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
  margin-top: 1em;
  animation-name: Fadein;
  animation-duration: 2s;
}

#Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  align-content:space-between;
  border: 3px solid rgb(59, 119, 59);
  padding: 10px;
  background-color: rgb(207, 207, 207);
}

.InfoBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-content:space-between;
  border: 3px solid rgb(59, 119, 59);
  padding-right: 2em;
  padding-left: 2em;
  background-color: rgb(207, 207, 207);
  animation-name: Fromleft;
  animation-duration: 1s;
}

.InfoBox img{
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
  margin-bottom: 5em;
}


body { /* other screen size */
  background-color: rgb(87, 87, 87);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}

header{
  margin-top: 2em;
  color: rgb(207, 207, 207);
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  animation-name: Fromleft;
  animation-duration: 1s;
  background-image: url("../Images/PoppingTitle.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Image Button */
.container {
  position: relative;
  width: 100%;
}

.ButtonContainer{
  width: 100%;
}

.FactContainer{
  font-size: large;
}

.btn {
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  text-align: center;
  outline: none;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 2em;
}


.btn:hover {
  background-color: black;
}

.btn:active {
  background-color: #525852;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.newcontainer {
  position: relative;
  width: 100%;
  margin-bottom: 70%;
}

#America{
  display: none;
  animation-name: Fadein;
  animation-duration: 1s;
  margin-bottom: 2em;
}

#Europe{
  display: none;
  animation-name: Fadein;
  animation-duration: 1s;
  margin-bottom: 2em;
}

#Asia{
  display: none;
  animation-name: Fadein;
  animation-duration: 1s;
  margin-bottom: 2em;
}


@media screen and (max-width: 1440px) { /*screen with < 1440px*/
  body {
    font-size: x-larger;
  }
  .block{
    height: 200px;
  }
  .block:hover{
    height: 200px;
  }
  .container .btn{
    height: auto;
  }
}

@media screen and (max-width: 720px) { /*screen with < 720px*/
  body {
    font-size: larger;
  }
  #Box {
    flex-direction: column;
  }
  .MenuBox{
    padding-top: 10%;
  }
  .MenuOption{
    font-size: larger;
  }
  .btn{
    height: auto;
    font-size: x-small;
    text-align: center;
  }
  header{
    font-size: x-large;
    background-image: url("");
  }
  header {
    margin-top: 3em;
  }
  .InfoBox video{
    width: 100%;
  }
}

@media screen and (max-width: 540px) { /*screen with < 540px*/
  body {
    font-size:  medium;
  }
  .MenuBox{
    padding-top: 13%;
    width: 30%;
  }
  .MenuOption{
    font-size: medium;
  }
  #Box {
    flex-direction: column;
  }
  .btn{
    height: auto;
    margin-bottom: 3%;
    font-size: xx-small;
    text-align: left;
  }
  header{
    font-size: large;
    background-image: url("");
  }
  header {
    margin-top: 5em;
  }
  .InfoBox video{
    width: 100%;
  }
  .PopUpText{
    font-size: small;
  }
  .newcontainer{
    padding-bottom: 5em;
  }
}

@keyframes Fromleft {
  0% {opacity: 0; transform: translateX(-200px);}
  100% {opacity: 1; transform: translateX(0);}
}

@keyframes Fadein{
  0%{opacity: 0%;}
  100%{opacity: 100%;}
}


