/* background of the menu bar */

.wrapper-box {
    margin: 3em auto;
    padding: 1em;
    background-image: url(../Images/indexbg.png)
  }

.block {
   display: block;
   width: 100%;
   background-color: #7a8b953c;
   cursor: pointer;
   text-align: center;
   margin: 5px;
   height: 10em;
   font-family: Bae_font;
   font-size: xx-large;
   font-weight: bold;
}

.block:hover {
    background-color: #ddd;
    color: black;
  }

.block a{
  background-image: url(/Images/indexbg1.jfif);
}


.TopText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.PopUpFG{
  position: absolute;
  width: 100%;
  top: 150%;
}

#Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  align-content:space-between;
  border: 3px solid rgb(59, 119, 59);
  padding: 10px;
  background-color: rgb(207, 207, 207);
}

.InfoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  align-content:space-between;
  border: 3px solid rgb(59, 119, 59);
  padding: 3em;
  background-color: rgb(207, 207, 207);
  animation-name: Fromleft;
  animation-duration: 1s;
}

@font-face {
  font-family: Bae_font;
  src: url(../Images/Baefont_normal-Regular_V1.ttf);
}

body { /* other screen size */
  background-color: rgb(51, 51, 51);
  font-family: Bae_font;
  font-size: xx-large;
}

header{
  margin-top: 2em;
  color: rgb(207, 207, 207);
  font-family: Bae_font;
  font-size: xx-large;
  animation-name: Fromleft;
  animation-duration: 1s;
}

/* Image Button */
.container {
  position: relative;
  width: 100%;
}


.btn {
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  text-align: center;
  outline: none;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: black;
}

.btn:active {
  background-color: #525852;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.newcontainer {
  position: relative;
  width: 100%;
  margin-bottom: 60%;
}


@media screen and (max-width: 1440px) { /*screen with < 960px*/
  body {
    background-color: red;
    font-size: x-larger;
  }
  .block{
    height: 200px;
  }
  .block:hover{
    height: 200px;
  }
  .container .btn{
    width: 5em;
    height: auto;
  }
}

@media screen and (max-width: 720px) { /*screen with < 768px*/
  body {
    background-color: blue;
    font-size: larger;
  }
  #Box {
    flex-direction: column;
  }
  .btn{
    width: 4em;
    height: auto;
    font-size: x-small;
    text-align: left;
  }
}

@media screen and (max-width: 540px) { /*screen with < 320px*/
  body {
    background-color: green;
    font-size: large;
  }
  #Box {
    flex-direction: column;
  }
  .btn{
    width: 3em;
    height: auto;
    font-size: xx-small;
    text-align: left;
  }
}

@keyframes Fromleft {
  0% {opacity: 0; transform: translateX(-200px);}
  100% {opacity: 1; transform: translateX(0);}
}



